@model CTLLunch.Models.EmployeeModel;
@{
    ViewData["Title"] = "Employee";
    List<UserModel> employees = ViewBag.Employees;
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap" rel="stylesheet">

<style type="text/css">
    body {
        font-family: 'Mitr', sans-serif;
    }
</style>
<div class="container">
    <div class="row p-1" style="row-gap:1px">
        <div class="col-xl-5">
            <div class="card card-dark">
                <div class="card-header" style="background-color: #034694">
                    <span class="card-title">พนักงาน</span>
                </div>
                <div class="card-body" style="overflow-x:auto">
                    <div class="row">
                        <div class="col-4 col-md-3 col-xl-3">
                            <label style="font-size:18px">แผนก : </label>
                        </div>
                        <div class="col-8 col-md-9 col-xl-9">
                            <select id="select_department" class="form-control">
                                <option value="" selected disabled>Please Select</option>
                                @{
                                    List<string> departments = employees.GroupBy(g => g.department).Select(s => s.FirstOrDefault().department).ToList();
                                    for (int i = 0; i < departments.Count; i++)
                                    {
                                                                            <option value="@departments[i]">@departments[i]</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4 col-md-3 col-xl-3">
                            <label style="font-size:18px">ชื่อ : </label>
                        </div>
                        <div class="col-8 col-md-9 col-xl-9">
                            <select id="select_employee" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-4 col-md-3 col-xl-3">
                            <label style="font-size:18px">ชื่อเล่น : </label>
                        </div>
                        <div class="col-8 col-md-9 col-xl-9">
                            <input type="text" id="add_nickname" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-center pt-3" style="row-gap:3px">
                        <input type="button" id="btn_add_employee" class="btn btn-success" value="เพิ่ม" style="border-radius:25px;width:200px;height:50px;font-size:20px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="card card-dark" style="height:800px">
                <div class="card-header" style="background-color: #034694">
                    <span class="card-title">พนักงาน</span>
                </div>
                <div class="card-body" style="overflow-x:auto">
                    <div class="row pt-2">
                        <div class="col-12 col-xl-12">
                            <table id="table_employee" class="table table-sm table-hover text-center w-100">
                                <thead style="background-color: #F2F2F2;color:black;border-color:greenyellow;border-width:2px;border:solid">
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>ชื่อ</th>
                                        <th>ชื่อเล่น</th>
                                        <th>บทบาท</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="modal fade" id="modal_updtae_employee" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>แก้ไขพนักงาน</b></h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row pt-1">
                        <div class="col-4 col-md-4 col-xl-4">
                            <label style="font-size:18px">Employee ID : </label>
                        </div>
                        <div class="col-8 col-md-8 col-xl-8">
                            <div class="input-group">
                                <input id="update_employee_id" type="text" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-4 col-md-4 col-xl-4">
                            <label style="font-size:18px">ชื่อ : </label>
                        </div>
                        <div class="col-8 col-md-8 col-xl-8">
                            <div class="input-group">
                                <input id="update_employee_name" type="text" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-4 col-md-4 col-xl-4">
                            <label style="font-size:18px">ชื่อเล่น : </label>
                        </div>
                        <div class="col-8 col-md-8 col-xl-8">
                            <div class="input-group">
                                <input id="update_employee_nickname" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-4 col-md-4 col-xl-4">
                            <label style="font-size:18px">บทบาท : </label>
                        </div>
                        <div class="col-8 col-md-8 col-xl-8">
                            <div class="input-group">
                                <select id="update_role" type="text" class="form-control">
                                    <option value=""></option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="ยกเลิก" />
                <input id="btn_update_employee" type="button" class="btn btn-success" value="แก้ไข" />
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var table_employee;
        let g_employees = [];
        $(document).ready(async function () {
            await GetEmployees();
        });

        $('#select_department').on('change', function () {
            let department = $('#select_department').val();
            SelectDepartment(department);
        });

        $('#btn_add_employee').on('click', async function () {
            let department = $('#select_department').val();
            let employee_name = $("#select_employee option:selected").text();
            let employee_nickname = $('#add_nickname').val();
            if (employee_name !== null && employee_name !== "" && employee_nickname !== null && employee_nickname !== "") {
                var str = JSON.stringify({
                    "department": department,
                    "employee_name": employee_name,
                    "employee_nickname": employee_nickname,
                });
                await $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertEmployee", "Employee")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: {str},
                    success: function (response) {
                        if (response === "Success") {
                            window.location.reload();
                            //GetEmployees();
                            //document.getElementById("select_employee").options.selectedIndex = 0;
                            //$('#add_nickname').val('');
                        }else{
                            alert(response);
                        }
                    }
                });
            } else {
                alert('ทำรายการไม่ถูกต้อง');
            }
        });

        $('#btn_update_employee').on('click', async function () {
            let employee_id = $('#update_employee_id').val();
            let employee_nickname = $('#update_employee_nickname').val();
            let role = $('#update_role').val();
            
            var str = JSON.stringify({
                "employee_id": employee_id,
                "employee_nickname": employee_nickname,
                "role": role,
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateEmployee", "Employee")',
                contentType: 'application/x-www-form-urlencoded',
                data: { str },
                success: function (response) {
                    if (response === "Success") {
                        GetEmployees();
                        $('#modal_updtae_employee').modal('hide');
                    } else {
                        alert(response);
                    }
                }
            });
        });

        async function GetEmployees() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployees", "Employee")',
                contentType: 'application/x-www-form-urlencoded',
                data: {  },
                success: function (response) {
                    let employees = response;
                    g_employees = employees;
                    GenerateTableEmployee(employees);
                }
            });
        }

        function SelectDepartment(department) {
            let employees = JSON.parse('@Html.Raw(Json.Serialize(employees))');
            let emps = employees.filter(f => f.department === department).map(m => m);
            var str = '<option value="" selected disabled>Please Select</option>';
            for (var i = 0; i < emps.length; i++) {
                str += `<option value=${emps[i].name}>${emps[i].name}</option>`;
            }
            $('#select_employee').empty();
            $('#select_employee').append(str);
        }

        function EditEmployee(employee_id) {
            let employee = g_employees.filter(f => f.employee_id === employee_id).map(m => m)[0];
            $('#update_employee_id').val(employee_id);
            $('#update_employee_name').val(employee.employee_name);
            $('#update_employee_nickname').val(employee.employee_nickname);
            $('#update_role').val(employee.role);
            $('#modal_updtae_employee').modal();
        };

        function GenerateTableEmployee(employees) {
            let _datas = [];
            for (let i = 0; i < employees.length; i++) {
                _datas.push([
                    employees[i].employee_id,
                    employees[i].employee_name,
                    employees[i].employee_nickname,
                    employees[i].role,
                    ""
                ]);
            }

            if (table_employee !== undefined) {
                table_employee.destroy();
            }
            table_employee = $('#table_employee').DataTable({
                data: _datas,
                columnDefs: [
                    {
                        targets: 0,
                        className: "text-center",
                        targets: 1,
                        className: 'dt-head-center',
                        className: "dt-body-left",
                    },
                ],
                rowCallback: function (row, data) {
                    let employee_id = data[0];
                    $('td:eq(4)', row).html(`
                        <button class="btn btn-primary" style="width:80px" onclick="EditEmployee('${employee_id}')">แก้ไข
                        </button>
                    `);
                },
                searching: false,
                paging: false,
                info: false
            });
        }
    </script>
}