@model CTLLunch.Models.EmployeeModel;
@{
    ViewData["Title"] = "Reserve Log";
    List<ShopModel> shops = ViewBag.shops;
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap" rel="stylesheet">

<style type="text/css">
    body {
        font-family: 'Mitr', sans-serif;
    }
</style>

<style>
    .active {
        background-color: #6cbd93 !important;
        color: white !important
    }

    .vertical-line {
        border-right: 1px solid gray;
    }

</style>
<div class="container">
    <div class="row p-1" style="row-gap:1px">
        <div class="col-xl-12">
            <div class="card card-dark">
                <div class="card-header" style="background-color: #034694">
                    <span class="card-title">ประวัติการสั่งอาหาร</span>
                </div>
                <div class="card-body" style="overflow-x:auto">
                    <div class="input-group row">
                        <div class="col-3 col-md-1 col-xl-1">
                        <p style="font-size:18px">วันที่ : </p>
                        </div>
                        <div class="col-7 col-md-3 col-xl-3">
                            <input id="reserve_log_date" type="date" class="form-control" />
                        </div>
                    </div>
                    <div id="div_shop" class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-1" style="row-gap:1px">
        <div class="col-xl-12">
            <div class="card card-dark" style="height:500px">
                <div class="card-header" style="background-color: #034694">
                    <span id="title_log" class="card-title">รายการที่สั่ง</span>
                </div>
                <div class="card-body" style="overflow-x:auto">
                    <div class="row">
                        <div class="col-xl-12">
                            <table id="table_reserve" class="table table-sm table-hover text-center w-100">
                                <thead style="background-color: #F2F2F2;color:black;border-color:greenyellow;border-width:2px;border:solid">
                                    <tr>
                                        <th>หมายเลขสั่งซื้อ</th>
                                        <th>เวลาที่สั่ง</th>
                                        <th>ผู้สั่ง</th>
                                        <th>ร้าน</th>
                                        <th>รายการอาหาร</th>
                                        <th>ค่าอาหาร</th>
                                        <th>ค่าจัดส่ง</th>
                                        <th>รวม</th>
                                        <th>สถานะ</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-center">
                                @if (Model.role == "Admin")
                                {
                                    <div class="col-6 col-md-3 col-xl-3">
                                        <div class="form-row d-flex justify-content-center pt-3" style="row-gap:3px">
                                            <input type="button" id="btn_add_slip" class="btn btn-success" value="เพิ่มใบสลิป" style="border-radius:25px;width:200px;height:50px;font-size:20px" hidden />
                                        </div>
                                    </div>
                                }
                                <div class="col-6 col-md-3 col-xl-3">
                                    <div class="form-row d-flex justify-content-center pt-3" style="row-gap:3px">
                                        <input type="button" id="btn_view_slip" class="btn btn-warning" value="ดูใบสลิป" style="border-radius:25px;width:200px;height:50px;font-size:20px" hidden/>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ImportModal" tabindex="-1" role="dialog" style="overflow-y:auto">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>เพิ่มใบสลิป</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form>
                        <div class="row pt-1" style="row-gap:1px">
                            <div class="col-xl-12">
                                <div class="card elevation-1">
                                    <div class="card-header">
                                        <span class="card-title">
                                            <i class="fas fa-file-excel"></i> <b> Import File</b>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label id="importFileName">File Name</label>
                                            <input id="importFile" type="file" class="form-control-file" />
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_view_slip" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-12 d-flex justify-content-center">
                            <img id="view_image" src="#" alt="" style="width:300px;height:350px;cursor:pointer" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="ยกเลิก" />
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var table_reserve;
        $(document).ready(async function () {
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1;
            let dd = today.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            const formattedToday = yyyy + '-' + mm + '-' + dd;
            $('#reserve_log_date').val(formattedToday);
            await DateChange(formattedToday);
        });

        $('#reserve_log_date').on('change', async function () {
            let date = $('#reserve_log_date').val();
            document.getElementById("table_reserve").hidden = true;
            DateChange(date);
            $('#btn_add_slip').attr('hidden', true);
            $('#btn_view_slip').attr('hidden', true);
        });

        async function DateChange(date){            
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetShop", "ReserveLog")',
                contentType: 'application/x-www-form-urlencoded',
                data: { date },
                success: function (response) {
                    let shops = response.shops;

                    let str = "";
                    for (let i = 0; i < shops.length; i++) {
                        str += `<div class="col-4 col-xl-2 col-md-3 pt-2">
                            <button id="btn_shop${shops[i].shop_id}" class="form-control" style="width: 100px; height: 100px; font-size: 20px;font-weight:600;background-color:#F2F2F2;border-radius:5px;" onclick="Shop_Click('${shops[i].shop_id}')">${shops[i].shop_name}</button>
                            </div>`;
                    }
                    $('#div_shop').empty();
                    $('#div_shop').append(str);
                }
            });
        }

        async function Shop_Click(shop_id) {
            let shops = JSON.parse('@Html.Raw(Json.Serialize(shops))');
            let _shop = shops.filter(f => f.shop_id === shop_id).map(m => m)[0];
            $('#title_log').text("รายการที่สั่ง : " + _shop.shop_name);

            document.getElementById("table_reserve").hidden = false;
            let shop = "btn_shop" + shop_id;
            $(shop).removeClass("active");
            $(shop).addClass("active");

            let date = $('#reserve_log_date').val();
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetReserveLog", "ReserveLog")',
                contentType: 'application/x-www-form-urlencoded',
                data: { date, shop_id },
                success: function (response) {
                    let reserves = response.reserves_shop;
                    let menus = response.menus;
                    GenerateTableReserve(reserves,menus);
                    $('#btn_add_slip').attr('hidden', false);
                    $('#btn_view_slip').attr('hidden', false);
                }
            });
        }
        function GenerateTableReserve(reserves, menus) {
            let datas = [];
            for (let i = 0; i < reserves.length; i++) {
                let extra_price = 0;
                let note_remark = [];
                if (reserves[i].note.trim() !== "") {
                    note_remark.push(reserves[i].note.trim());
                }
                if (reserves[i].remark.trim() !== "") {
                    note_remark.push(reserves[i].remark.trim());
                }
                let _not_remark = note_remark.join(',');
                if (_not_remark.trim() !== "" && _not_remark.trim() !== ",") {
                    _not_remark = " (" + _not_remark + ")";
                } else {
                    _not_remark = "";
                }

                if (reserves[i].extra === true) {
                    extra_price = menus.filter(f => f.menu_id === reserves[i].menu_id).map(m => m.extra_price)[0];
                }
                let status = "";
                if (reserves[i].status === "Pending") {
                    status = "รอชำระเงิน"

                    datas.push([reserves[i].reserve_id,
                    reserves[i].reserve_date.split('T')[0] + " " + reserves[i].reserve_date.split('T')[1],
                    reserves[i].employee_nickname,
                    reserves[i].shop_name,
                    reserves[i].menu_name + _not_remark,
                    reserves[i].price + extra_price,
                    reserves[i].delivery_service_per_person,
                    reserves[i].sum_price + extra_price,
                        status
                    ]);
                }
                if (reserves[i].status === "Approved") {
                    status = "ชำระเงินแล้ว"

                    datas.push([reserves[i].reserve_id,
                    reserves[i].reserve_date.split('T')[0] + " " + reserves[i].reserve_date.split('T')[1],
                    reserves[i].employee_nickname,
                    reserves[i].shop_name,
                    reserves[i].menu_name + _not_remark,
                    reserves[i].price + extra_price,
                    reserves[i].delivery_service_per_person,
                    reserves[i].sum_price + extra_price,
                        status
                    ]);
                }
                if (reserves[i].status === "Cancel") {
                    status = "ยกเลิก"
                    datas.push([reserves[i].reserve_id,
                    reserves[i].reserve_date.split('T')[0] + " " + reserves[i].reserve_date.split('T')[1],
                    reserves[i].employee_nickname,
                    reserves[i].shop_name,
                    reserves[i].menu_name + _not_remark,
                    "-",
                    "-",
                    "-",
                        status
                    ]);
                }
                
                
            }

            // Summary
            let shops = [];
            let _shop = Object.groupBy(reserves, ({ shop_name }) => shop_name);
            for (const [key, value] of Object.entries(_shop)) {
                shops.push(key);
            }
            let length = datas.length;

            for (let i = 0; i < shops.length; i++) {
                let sum_price_approved = 0;
                let sum_delivery_approved = 0;

                let sum_price_pending = 0;
                let sum_delivery_pending = 0;

                for (let j = 0; j < length; j++) {
                    if (shops[i] === datas[j][3] && datas[j][8] === "ชำระเงินแล้ว") {
                        sum_price_approved += parseInt(datas[j][5]);
                        sum_delivery_approved += parseInt(datas[j][6]);
                    }
                    if (shops[i] === datas[j][3] && datas[j][8] === "รอชำระเงิน") {
                        sum_price_pending += parseInt(datas[j][5]);
                        sum_delivery_pending += parseInt(datas[j][6]);
                    }
                    
                }
                let delivery_service = reserves[0].delivery_service;
                if (sum_price_approved > 0) {
                    datas.push(["รวม", "", "", shops[i], "", sum_price_approved, delivery_service, sum_price_approved + delivery_service, "ชำระเงินแล้ว"]);
                } else {
                    datas.push(["รวม", "", "", shops[i], "", 0, 0, 0, "ชำระเงินแล้ว"]);
                }

                if (sum_price_pending > 0) {
                    datas.push(["รวม", "", "", shops[i], "", sum_price_pending, delivery_service, sum_price_pending + delivery_service, "รอชำระเงิน"]);
                } else {
                    datas.push(["รวม", "", "", shops[i], "", 0, 0, 0, "รอชำระเงิน"]);
                }
            }

            if (table_reserve !== undefined) {
                table_reserve.destroy();
            }

            table_reserve = $('#table_reserve').DataTable({
                data: datas,
                columnDefs: [
                    {
                        targets: 0,
                        width: "5%"
                    },
                    {
                        targets: 5,
                        width: "10%",
                        className: "text-center"
                    },
                ],
                rowCallback: function (row, data) {
                    let reserve_no = data[0];
                    let menu = data[4];
                    let status = data[8];
                    if (reserve_no === "รวม" && status === "ชำระเงินแล้ว") {
                        $('td', row).css('color', "blue");
                        $('td', row).css('font-weight', "bold");
                    }
                    if (reserve_no === "รวม" && status === "รอชำระเงิน") {
                        $('td', row).css('color', "green");
                        $('td', row).css('font-weight', "bold");
                    }
                    if (status === "ยกเลิก") {
                        $('td', row).css('color', "red");
                    }
                },
                searching: false,
                paging: false,
                info: false
            });
        }

        $('button').click(function () {
            $('button').removeClass("active");
            $(this).addClass("active");
        });

        $('#btn_add_slip').on('click', function () {
            $('#ImportModal').modal();            
        });

        $('#btn_view_slip').on('click', async function () {
            $('#view_image').attr('src', null);
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetPathImageTopup", "ReserveLog")',
                contentType: 'application/x-www-form-urlencoded',
                data: {  },
                success: function (response) {
                    if (response === "ไม่มีสลิป") {
                        alert(response);
                    } else {
                        let path = response;
                        let picture = "data:" + path;

                        if (picture === 'ไม่มีสลิป') {
                            document.getElementById('view_image').src = '@Url.Content("~/images/no-image.png")';
                        } else {
                            document.getElementById('view_image').src = picture;
                        }
                        $('#modal_view_slip').modal();
                    }
                }
            });
        });

        $('#importFile').on('change', async function (e) {
            if (e.target.files[0]) {
                let fdata = new FormData();
                let fileUpload = $('#importFile').get(0);
                let files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $('#importFileName').text(files[0].name);

                await $.ajax({
                    type: "POST",
                    url: "ReserveLog/Importfile",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
                            alert(response);
                            $('#ImportModal').modal('hide');
                        }
                    },
                });
            }
        });
    </script>
}